<?php

return [
    'database' => [
        'host' => '',
        'port' => '',
        'username' => '',
        'password' => '',
        'database' => '',
    ],
    'socket' => [
        'host' => 0,
        'port' => 10081,
        'protocol' => 'tcp',
    ],
];
